<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">

      <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
            <h1 class="navbar-brand">Geheime pagina</h1>
            </div>
<!-- HIERONDER DE  CHILD-ROUTES DIE GEBRUIKT WORDEN IN DE SECRET COMPONENT -->
            <ul class="nav navbar-nav nav-pills">
                <li routerLinkActive="active">
                    <a routerLink="data">Data</a></li>
                <li routerLinkActive="active">
                    <a routerLink="fotos">Foto's</a></li>
                <li>   
                    <a href="#" (click)="logout()">Uitloggen</a></li>
            </ul>
        </div>
      </nav>


<router-outlet></router-outlet>



</div><!-- col-sm-6 -->
</div><!-- row -->
</div><!-- container -->

